# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs
*.log

# Ignore local configuration files
*.local
*.env

# Ignore compiled files
*.so
*.dll
*.dylib

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore mypy type checking reports
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore pytest cache
.pytest_cache/

# Ignore temporary files
*.tmp
*.temp